{% extends base_template|default:'homepage.html' %}
{% load static %}
{% block content %}

<section id="clients" class="scrollto clearfix">
            <div class="row clearfix">

                <div class="col-3">
                        <div class="col-lg-2 wow fadeInUp" data-wow-delay="0.1s">

                            <h1 class="mb-4">Social Media Marketing</h1>
                            <p class="mb-4">Social media marketing este o strategie digitala prin care afacerile si brandurile utilizeaza platformele de socializare pentru a-si promova produsele, serviciile si mesajele catre o audienta tinta. Acest domeniu se bazeaza pe utilizarea retelelor sociale precum Facebook, Instagram, Tik Tok, LinkedIn, Pinterest si altele pentru a atinge obiectivele de marketing si a construi relatii cu clientii</p>
                        </div>
                </div>


                <div class="col-2-3" style="position:relative; left:-10px; top:50px;">

                    <a class="col-2">

                        <div id="service_name2" ><span>Social Media Marketing</span></div>
                         <div class="icon-block-description">

                            <h4 align="center" id="service_name">Webdesign / development<br></br></h4>
                            <p id="service_text" class="section-subtitle" align="left" style="text-transform:lowercase; padding: 10px ; border :2px red">Web design-ul este arta de a crea site-uri web atractive, funcționale și relevante pentru nevoile și obiectivele unei afaceri sau proiect online</p>

                         </div>
                    </a>
                </div>
                <div class="col-2-3" style="position:absolute; left:400px; top:50px; ">
                    <div class="col-lg-5 d-flex justify-content-center justify-content-rg-end wow fadeInUp" data-wow-delay="0.3s" style="position:relative;left:500px;">
                        <div class="owl-carousel screenshot-carousel">
                                <img id="service_image" class="img-fluid" src="{% static 'img/tik.png' %}" alt="" style="position:relative;top:-10px;">
                        </div>
                    </div>

                </div>
                <div class="col-2-3" >

                    <a class="col-2-2">
                       <img id="left_arrow"   src="{%static 'img/arrow_left.png' %}" >%nbsc%nbsc
                        <img id="right_arrow"  src="{%static 'img/arrow_right.png' %}" >

                    </a>
                </div>




</section>

<div id="services" >

            <div class="row no-padding-bottom clearfix">


                <!--Content Left Side-->
                <div class="col-3">
                    <!--User Testimonial-->
                    <blockquote class="testimonial text-right bigtest" style="top:20px;">
                        <q>Cel mai bun moment pentru a incepe sa iti cresti afacerea este chiar acum</q>

                    </blockquote>
                    <!-- End of Testimonial-->

                </div>
                <!--End Content Left Side-->

                <!--Content of the Right Side-->

                <div class="col-3">
                    <div class="section-heading">

                        <h2 class="section-title">Ce este Social Media Marketing</h2>
                        <p class="section-subtitle">Crearea de conținut de calitate: Companiile produc și împărtășesc conținut, precum postări, imagini, videoclipuri, bloguri etc., care sunt interesante și utile pentru publicul țintă. Acest conținut poate include informații despre produse sau servicii, sfaturi, povestiri, sau orice altceva care să genereze interes</p>
                    </div>
                    <p class="section-subtitle">Interacțiunea cu publicul: Social media oferă oportunități de a comunica direct cu clienții sau potențialii clienți. Comentariile, întrebările și feedback-ul pot fi gestionate rapid și eficient</p>
                    <p class="section-subtitle">
                        Publicitate plătită: Multe platforme sociale oferă opțiuni de publicitate plătită, cum ar fi reclame pe Facebook, Instagram sau LinkedIn. Aceasta permite companiilor să își promoveze conținutul sau să targeteze publicul țintă în mod specific
                    </p>
                    <p class="section-subtitle">
                       Construirea și consolidarea brandului: Social media marketingul ajută la crearea și consolidarea identității de brand, precum și la creșterea conștientizării brandului în rândul publicului țintă
                    </p>
                    <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
                    <a href="#" data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox">
                        Contacteza-ne <i class="fa fa-play" aria-hidden="true"></i>
                    </a>
                </div>
                <!--End Content Right Side-->

                <div class="col-3">
                    <img src="{% static 'images/social_media_management_banner.jpg' %}" alt="Dancer"/>
                </div>

            </div>


</div>
<section id="about" class="introduction scrollto">

            <div class="row clearfix">

                <div class="col-3">
                    <div class="section-heading">
                        <h3>SUCCESS</h3>
                        <h2 class="section-title">Social Media Marketing in 4 pasi</h2>
                        <p class="section-subtitle"></p>
                    </div>

                </div>
                 <div class="col-2-2">

                    <a href="#" class="col-4">
                        <img src="{% static 'images/steps/1.jpg' %}" alt="Company"/>
                        <div class="client-overlay"><span>Tree</span></div>
                        <div class="icon-block-description">
                            <h4 align="center">Analiza nisei si a competitiei
                                </h4>
                        </div>
                    </a>
                    <a href="#" class="col-4">
                        <img src="{% static 'images/steps/2.jpg' %}" alt="Company"/>
                        <div class="client-overlay"><span>Tree</span></div>
                        <div class="icon-block-description">
                            <h4 align="center">Creare strategie de promovare</h4>
                        </div>
                    </a>
                    <a href="#" class="col-4">
                        <img src="{% static 'images/steps/3.jpg' %}" alt="Company"/>
                        <div class="client-overlay"><span>Tree</span></div>
                        <div class="icon-block-description">
                            <h4 align="center" >Creare si implementare campanii</h4>
                        </div>
                    </a>
                    <a href="#" class="col-4">
                        <img src="{% static 'images/steps/4.jpg' %}" alt="Company"/>
                        <div class="client-overlay"><span>Tree</span></div>
                        <div class="icon-block-description">
                            <h4 align="center">Raportare si optimizare</h4>
                        </div>
                    </a>

                </div>



        </div>



</section>
<div class="col-3">
    <div class="col-2-3" >
        <form class="doodle">
          <div class="form-group">
            <label for="exampleInputEmail1" class="doodle-border">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>>
<script>
    i = 1
    services_names = ['Facebook Ads', 'Tik Tok Ads', 'Linkedin Ads', 'Instagram Ads']
    console.log(services_names.length)
    services_text = ['Facebook Ads sunt o modalitate eficienta si flexibila de a promova produsele, serviciile si mesajele afacerii tale pe una dintre cele mai mari si mai populare platforme de socializare din lume, ajutand astfel la atingerea obiectivelor de marketing si la cresterea afacerii', 'Cu ajutorul TikTok Ads, afacerile pot sa capitalizeze pe aceasta retea sociala si sa atinga o audienta dinamica si angajata prin intermediul continutului video', 'LinkedIn Ads pot fi o modalitate puternica de a construi relatii in mediul B2B, de a creste constientizarea despre brand si de a genera leads sau vanzari in functie de obiectivele dumneavoastra de afaceri', ' Instagram Ads au devenit o parte importanta a strategiilor de marketing digital, in special pentru brandurile care doresc sa ajunga la o audienta mai tanara si sa se conecteze prin intermediul continutului vizual atractiv']
    services_images = ["{% static 'img/facebook.png' %}", "{% static 'img/tik.png' %}", "{% static 'img/linkedin.png' %}", "{% static 'img/instagram.png' %}"]
    image_element = document.getElementById('service_image')
    service_name = document.getElementById('service_name')
    service_text = document.getElementById('service_text')
    service_head = document.getElementById('service_name2')
    left_arrow = document.getElementById('left_arrow')
    right_arrow = document.getElementById('right_arrow')

    function changeTxt() {
        if (i < 0) {
            i = services_images.length-1
        } else if (i >= services_images.len-1){
            i = 0
        }
        var service_image = services_images[i]


        image_element.setAttribute('src',service_image)
        service_name.innerText = services_names[i]
        service_text.innerText = services_text[i]
        service_head.innerText = services_names[i]

    }
    window.onload = changeTxt;
    function change_left(){
        i = i- 1;
        changeTxt();
    }

    function change_right(){
        i = i+1;
        changeTxt();
    }
    left_arrow.addEventListener("click", change_left)
    right_arrow.addEventListener("click",change_right)

</script>>


{% endblock content %}